@use "variables" as *;

// mixins to take care of repeated patterns.
@mixin set-font($size: 1em, $line-height: normal, $font: $fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}

@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin uppercase($color: $text-dark) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color;
}
@mixin divider($color: $accent1) {
  border-top: 1px solid $color;
  margin-top: 1em;
  padding-top: 1.5em;
}
/* ----------------here professor----- */
//mixin for colors
@mixin color($color: $accent1) {
  background: $color;
  color: $text-light;
}
//mixin for size of the font
@mixin size($size: 1em) {
  font-size: $size;
}
//misin for borders
@mixin border($color, $radius) {
  border: 1px solid $color;
  border-radius: $radius;
}
@mixin shadow($color) {
  box-shadow: 0 0 10px $color;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background-color: $primary;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/bg-pattern-1.svg"), $bg-gradient-colors;
  background-size: 260px, auto;
  background-attachment: fixed;
  background-position: center;

  font-family: $fonts-body;
  font-size: 1em;
  color: $text-light;

  margin: 0;
  padding: 0;
  text-align: justify;
  height: 100%;
  position: relative;
}

// these styles here should describe how the atoms (elements) should appear most of the time.  They can be overridden at the molecule (block) as necessary
h1 {
  font-size: 2em;
}
h2 {
  font-size: .75em;
}
h3 {
  font-size: 1.5em;
}

p {
  @include set-font(1em, 1.5em);
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  color: $text-dark;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
a:hover {
  border-color: $accent2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-light;
  font-family: $fonts-headline;
  margin-bottom: .5em;
  text-transform: uppercase;
}

p {
  font-family: $fonts-body;
}

a {
  text-decoration: none;
  font-family: $fonts-body;
  color: $accent2;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    font-family: $fonts-body;
  }
}

abbr {
  text-decoration: none;
  color: $text-dark;
  background-color: $text-light;
  padding: 0 2px;
  margin: 0 2px;
}

@mixin breakpoint($break) {
  @if $break == large {
    @media (max-width: $break-large) {
      @content;
    }
  } @else if $break == medium {
    @media (max-width: $break-medium) {
      @content;
    }
  } @else if $break == small {
    @media (max-width: $break-small) {
      @content;
    }
  } @else {
    @media ($break) {
      @content;
    }
  }
}

@keyframes shooting-star {
  0% {
    opacity: 0;
    transform: translateX(0) translateY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(200px) translateY(200px);
  }
}

@keyframes galaxy-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
