@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)
[role="banner"] {
  > h1 {
    // notice we have to reference the 'atoms' namespace to find our mixins.
    @include atoms.uppercase($text-light);
  }
}
/*.summary {
  @include atoms.uppercase($text-light);
  padding: 15% 0;
  p:last-child {
    @include atoms.divider;
  }
}
.preamble {
  background: rgba(255, 255, 255, 0.9);
  color: $text-dark;
  margin-left: -30%;
  padding: 5% 5% 5% 30%;
}*/
// create mixin for headings

div.page-wrapper {
  width: 500px;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 10rem;

  section#zen-intro {

    &::before {
      content: url(images/planet-1-mini.png);
      left: -13%;
      position: absolute;
      transform: rotate(0deg);
    }
    header {
      h2 {
        line-height: 1.25em;
        text-align: right;
      }
    }

    > div {
      padding-top: 5%;

      &::before {
        content: url(images/galaxy-v1-mini.png);
        position: relative;
        left: 35%;
      }
    }
  }

  div#zen-supporting {
    > div {
      padding-top: 5%;

      &::before {
        content: url(images/galaxy-v1-mini.png);
        position: relative;
        left: 35%;
      }
    }
  }
}

.sidebar {
  display: none;
  position: absolute;
  top: 0;
  right: 15%;
  font-size: .75em;

  .wrapper {
    padding: 10px;
    margin-top: 150px;
    width: 25vh;

    > div {
      border-bottom: 1px solid #fff;
      padding-bottom: 1rem;
    }
  
    ul {
      li {
        line-height: 1.3em;
        display: block;
        padding-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

  @media (min-width: $break-large) {
    display: block;
    right: 3%;
  }

  @media (min-width: $break-xlarge) {
    display: block;
    right: 15%;
  }
}