/* Import Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Import Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$fonts-headline: "Monserrat", Arial, Verdana, sans-serif;
$fonts-body: "Lato", verdana, arial, sans-serif;
$primary: #0a192f;
$accent1: #2d4059;
$accent2: #ffb400;
$border: #333333;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #000;
$text-light: #fff;
$bg-gradient-colors: linear-gradient(to right, #0f0c29, #302b63, #24243e);
//$bg-gradient-colors: linear-gradient(to right, #2c3e50, #4ca1af);
//$bg-gradient-colors: linear-gradient(to right, #141e30, #243b55);

$break-small: 20em;
$break-medium: 31em;
$break-large: 60em;
$break-xlarge: 80em;